@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Lato:wght@400;700&family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Schoolbell', cursive;*/
    color: #0E4749;
}

body {
    background-color: #0E4749;
    overflow: scroll;
    min-height: 100vh;
}

main {
    max-width: 600px;
    background-color: #EFE7DA;
    margin: 0 auto;
}

header {
    color: #E55812;
    font-size: 2rem;
    font-family: 'Crafty Girls', cursive;
    font-weight: 600;
}

.nav-wrapper {
    height: 300px;
}

nav {
    text-align: center;
    box-shadow: 5px 5px 25px #E55812;
    position: fixed;
    width: 600px;
    padding: 10px 0;
    background-color: #EFE7DA;
    /*overflow: scroll;*/
}

nav header {
    font-size: 2.5rem;
}

nav li {
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: #0E4749;
}

nav a:hover {
    background-color: #F8C4AA;
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.main-section {
    margin: 1.25rem;
}

p {
    line-height: 1.6rem;
    margin: 1.25rem;
}

#Introduction_to_Excel li {
    margin-left: 3rem;
    list-style-type: square;
}

.code {
    background-color: #95C623;
    width: 31rem;
    margin: 0 auto;
    line-height: 1.6rem;
    padding: 5px;
}

#Functions li {
    margin: 0 3rem;
    list-style-type: square;
    line-height: 1.6rem;
}

#Functions {
    padding-bottom: 2rem;
}

footer {
    max-width: 600px;
    /*background-color: #EFE7DA;*/
    margin: 0 auto;
}

.footer {
    text-align: center;
}

footer li {
    display: inline;
    padding: 2rem;
}

footer i {
    color: #0E4749;
    background-color: hsl(20, 85%, 82%);
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    height: 1rem;
    width: 1rem;
}


@media screen and (min-width: 700px) {

    body {
        /*width: 1000px;*/
        /*margin: 0 auto;*/
    }

    main {
        max-width: 900px;
    }

    #main-doc {
        display: grid;
        grid-template-columns: 1fr repeat(2, 2fr);
        /*grid-column-gap: 0px;*/
        /*grid-row-gap: 0px;*/
        /*width: 100%;*/
    }

    nav {
        width: 18rem;
        /*height: 94%;*/
        margin-left: 10px;
    }

    nav li {
        font-size: 1.3rem;
        line-height: 2rem;
        padding: 1.9rem;
    }

    .main-section {
        position: relative;
        left: 12rem;
        font-size: 1.1rem;
    }

    header {
        font-size: 2.2rem;
    }

    footer {
        min-width: 900px;
        margin-top: 1rem;
    }

    footer li {
        /*position: relative;*/
        /*left: 7.5rem; */
        padding: 3rem;
    }
}


@media screen and (max-width: 400px) {
    body {
        max-width: 400px;
        margin: 0 auto;
    }

    .main-section {
        position: relative;
    }

    .main-section header {
        font-size: 1.8rem;
    }

    .main-section header::after {
        content: '';
        position: absolute;
        left: 0;
        top: 2rem;
        width: 90%;
        height: 2px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 450ms ease-in;
    }

    .main-section header:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    nav {
        position: absolute;
        max-width: 400px;
        margin: 0;
        padding: 0;
    }

    .code {
        max-width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    footer {
        margin: 0;
        padding: 0;
        display: block;
    }

    footer li {
        margin: 0;
        padding: 1rem;

    }
}